{%extends 'graficos.html' %}
{% load static %}

{% block head %}

    <script src="{% static '/highchart/highcharts.js' %}"></script>
    <script src="{% static '/highchart/modules/series-label.js' %}"></script>
    <script src="{% static '/highchart/modules/exporting.js' %}"></script>
    <script src="{% static '/highchart/modules/export-data.js' %}"></script>
    <script src="{% static '/highchart/modules/accessibility.js' %}"></script>
    <script src="{% static '/highchart/modules/data.js' %}"></script>

{% endblock %}

{% block grafico_1_T %} 

    <div class="container">
        <div class="row">
            <div class="col">
                <div id="container"></div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        Highcharts.chart('container', {
        title: {
            text: 'Temperatura'
        },

        subtitle: {
            text: 'LUGAR DE MEDICIÓN'
        },

        yAxis: {
            title: {
                text: 'EJE Y'
            }
        },

        xAxis: {
            title: {text: 'Eje X'}
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },

        series: [{
            // name: 'Installation',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

        });
        
    </script>
{% endblock %}


{% block grafico_2_T %}
<input id="dato_y" type="hidden" value="{{dato.temperature}}" >
<input id="dato_x" type="hidden" value="{{dato.time}}" > 
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="container-live"></div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        

        window.onload = function () {

        var dps = []; // dataPoints
        var chart = new CanvasJS.Chart("container-live", {
            title :{
                text: "Temperatura"
            },
            data: [{
                type: "line",
                dataPoints: dps
            }]
        });

        var xVal = 0;
        var yVal = 0; 
        var updateInterval = 1000;
        var dataLength = 50; // number of dataPoints visible at any point
        var updateChart = function (count) {

            count = count || 1;

            for (var j = 0; j < count; j++) {
                yVal= document.getElementById("dato_y").value;
                yVal=parseFloat(yVal);
                //xVal=document.getElementById('dato_x').value;
                //xVal=parseFloat(xVal);
                //yVal=5; //aquí va la conexión
                dps.push({
                    x: xVal,
                    y: yVal,
                });
                xVal++;
            }

            if (dps.length > dataLength) {
                dps.shift();
            }

            chart.render();
        };

        updateChart(dataLength);
        setInterval(function(){updateChart()}, updateInterval);

        }
        </script>
        </head>
        <body>
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>




{% endblock %}